h1
{
	width: 1130px;
	font-size: 48px;
	border-bottom: 1px solid;
	margin: auto;
	padding-bottom: 5px;
	margin-top: 50px;
	margin-bottom: 100px;
	text-align: left;
}

.noms
{
	font-size: 22px;
	margin: 0 0 10px 0;
}

.messages
{
	border: 2px solid;
	width: 600px;
	text-align: center;
	margin: auto;
	padding: 30px;
}

.contenu
{
	margin: 20px 0 20px 0;
	font-style: italic;
	background-color: #DDD;
	padding: 10px;
}

.auteur a
{
	text-decoration: underline;
}

.del
{
	margin: 15px 0 0 0;
	text-decoration: underline;
}

p
{
	margin: 3px 0 3px 0;
}

.logout
{
	padding: 5px;
    top: 60px;
    left: 44.5%;
    position: absolute;
}

.logout input
{
	border: 1px solid;
	width: 180px;
	height: 30px;
	padding: 0 15px 0 15px;
	margin: 5px;
}